<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible"
          content="ie=edge">
    <title>App</title>
    <!-- <script src="https://cdn.bootcss.com/vue/2.6.0-beta.3/vue.common.dev.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>
    <link rel="stylesheet"
          href="/static/index.css" />

</head>

<body>
    <div id="app">
        <h1>App</h1>
        <hr />
        <div>
            <input type="text"
                   v-model="newValue">
            <button @click="add">添加新任务</button>
        </div>

        <ul class="list">
            <li v-for="(todo,index) in todos"
                :key="todo.id"
                :class="todo.done ? 'done' : ''">
                <input @click.prevent="update(index)"
                       :checked="todo.done"
                       type="checkbox">
                <span>
                    {{todo.id}}#{{todo.title}}
                </span>
                <button @click="remove(index)">删除</button>
            </li>
        </ul>
        <div class="pages">
            <a href="#"
               v-for="n in totalPage"
               :class="[{active:n===page},'link']"
               @click="changePage(n)">{{n}}</a>
        </div>

        <button @click="changeType()"
                :class="{'active': type ===''}">全部</button>
        <button @click="changeType(0)"
                :class="{'active': type === 0}">未完成</button>
        <button @click="changeType(1)"
                :class="{'active': type === 1}">已完成</button>


    </div>
    <script type="module">
        let app;
    new Vue({
            el:'#app',
            data:{
                todos:[],
                newValue:'',
                page:1,
                pageSize:4,
                totalPage:1,
                type:'',
            },
            
            created(){
                app = this;
                app.getList()
            },
            methods:{
                getList({type=''}={}){
                    const pageSize = app.pageSize;
                    const page = app.page;
                    fetch(`/todos?page=${page}&pageSize=${pageSize}&type=${type}`).then(res=>{
                        return res.json()
                    }).then(({data,code}={}) => {
                        if(code === 0) {
                            app.todos = data.data;
                            app.totalPage = data.totalPage;
                        } else {
                            alert('获取列表失败！')
                        }
                    })
                },
                changeType(type=''){
                    app.type =type;
                    app.getList({type})
                },
                changePage(page = 1) {
                    app.page = page;
                    app.getList()
                },
                add(){
                    fetch('/add',{
                        method:'post',
                        headers:{
                            'content-type':'application/json'
                        },
                        body:JSON.stringify({title:app.newValue})
                    }).then(res=>{
                        return res.json()
                    }).then(data => {
                        if(data.code === 0 ){
                            app.newValue = ''
                            app.getList()
                        } else {
                            alert('添加失败！')
                        }
                    })
                },
                remove(index){
                    const id = app.todos[index].id;
                    const done = app.todos[index].done ? 0 : 1;

                    fetch('/remove',{
                        method:'post',
                        headers:{
                            'content-type':'application/json'
                        },
                        body:JSON.stringify({id,done})
                    }).then(res=>{
                        if(res.ok) {
                            return res.json()
                        }
                    }).then(data => {
                        if(data.code === 0 ){
                            app.newValue = ''
                            app.getList()
                        } else {
                            alert('删除失败！')
                        }
                    })
                },
                update(index){
                    const id = app.todos[index].id;
                    const done = app.todos[index].done ? 0 : 1;

                    fetch('/update',{
                        method:'post',
                        headers:{
                            'content-type':'application/json'
                        },
                        body:JSON.stringify({id,done})
                    }).then(res=>{
                            return res.json()
                    }).then(data => {
                        if(data.code === 0 ){
                            app.getList()
                        } else {
                            alert('修改失败！')
                        }
                    })
                }
            },
        })
    </script>

</body>

</html>